body {
    background-color: rgb(219, 157, 76);
}

.center{
    border: 2px solid gold;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.orderedlist {
    display: block;
}

img {
    border: 2px solid gold;
    height: 200px;
    width: 250px;
    display: block;
    margin: 10px auto;
}
